.git
.github
.mypy_cache
.nox
.pytest_cache
.ruff_cache
.tox
.venv
.DS_Store
.ipynb_checkpoints
.pre-commit-cache
__pycache__
*.egg-info
*.py[cod]
*.pyd
*.pyo
*.so
*.tsbuildinfo
.eggs
artifacts
build
coverage
dist
env
evaluation/results
.next
frontend/.next
frontend/node_modules
htmlcov
logs
node_modules
docs
notebooks
pip-wheel-metadata
scripts
tests
venv
__pypackages__
